.wpconsent-flag {
	width: 16px;
	height: 11px;
	background: url(./admin-pro/flags.png) no-repeat;
	margin-right: 8px;
	margin-bottom: 2px;
	display: inline-block;
	vertical-align: middle;
}

.wpconsent-flag.wpconsent-flag-gu {
	background-position: -96px -55px;
}

.wpconsent-flag.wpconsent-flag-mn {
	background-position: -208px -88px;
}

.wpconsent-flag.wpconsent-flag-va {
	background-position: -48px -154px;
}

.wpconsent-flag.wpconsent-flag-fo {
	background-position: -64px -44px;
}

.wpconsent-flag.wpconsent-flag-th {
	background-position: -16px -143px;
}

.wpconsent-flag.wpconsent-flag-tr {
	background-position: -144px -143px;
}

.wpconsent-flag.wpconsent-flag-tl {
	background-position: -80px -143px;
}

.wpconsent-flag.wpconsent-flag-kz {
	background-position: -144px -77px;
}

.wpconsent-flag.wpconsent-flag-zm {
	background-position: -16px -165px;
}

.wpconsent-flag.wpconsent-flag-uz {
	background-position: -32px -154px;
}

.wpconsent-flag.wpconsent-flag-dk {
	background-position: -64px -33px;
}

.wpconsent-flag.wpconsent-flag-gi {
	background-position: -224px -44px;
}

.wpconsent-flag.wpconsent-flag-gy {
	background-position: -128px -55px;
}

.wpconsent-flag.wpconsent-flag-bj {
	background-position: -112px -11px;
}

.wpconsent-flag.wpconsent-flag-fr {
	background-position: -80px -44px;
}

.wpconsent-flag.wpconsent-flag-mo {
	background-position: -224px -88px;
}

.wpconsent-flag.wpconsent-flag-ir {
	background-position: -112px -66px;
}

.wpconsent-flag.wpconsent-flag-io {
	background-position: -80px -66px;
}

.wpconsent-flag.wpconsent-flag-tm {
	background-position: -96px -143px;
}

.wpconsent-flag.wpconsent-flag-ch {
	background-position: -96px -22px;
}

.wpconsent-flag.wpconsent-flag-mt {
	background-position: -32px -99px;
}

.wpconsent-flag.wpconsent-flag-nl {
	background-position: -240px -99px;
}

.wpconsent-flag.wpconsent-flag-gp {
	background-position: -16px -55px;
}

.wpconsent-flag.wpconsent-flag-im {
	background-position: -48px -66px;
}

.wpconsent-flag.wpconsent-flag-tv {
	background-position: -176px -143px;
}

.wpconsent-flag.wpconsent-flag-mu {
	background-position: -48px -99px;
}

.wpconsent-flag.wpconsent-flag-pe {
	background-position: -96px -110px;
}

.wpconsent-flag.wpconsent-flag-vi {
	background-position: -112px -154px;
}

.wpconsent-flag.wpconsent-flag-hn {
	background-position: -176px -55px;
}

.wpconsent-flag.wpconsent-flag-ss {
	background-position: -128px -132px;
}

.wpconsent-flag.wpconsent-flag-ae {
	background-position: -16px 0;
}

.wpconsent-flag.wpconsent-flag-td {
	background-position: -240px -132px;
}

.wpconsent-flag.wpconsent-flag-pw {
	background-position: 0 -121px;
}

.wpconsent-flag.wpconsent-flag-nu {
	background-position: -32px -110px;
}

.wpconsent-flag.wpconsent-flag-bt {
	background-position: -208px -11px;
}

.wpconsent-flag.wpconsent-flag-ms {
	background-position: -16px -99px;
}

.wpconsent-flag.wpconsent-flag-cv {
	background-position: -240px -22px;
}

.wpconsent-flag.wpconsent-flag-es {
	background-position: -224px -33px;
}

.wpconsent-flag.wpconsent-flag-mh {
	background-position: -144px -88px;
}

.wpconsent-flag.wpconsent-flag-la {
	background-position: -160px -77px;
}

.wpconsent-flag.wpconsent-flag-vn {
	background-position: -128px -154px;
}

.wpconsent-flag.wpconsent-flag-py {
	background-position: -16px -121px;
}

.wpconsent-flag.wpconsent-flag-br {
	background-position: -176px -11px;
}

.wpconsent-flag.wpconsent-flag-ye {
	background-position: -224px -154px;
}

.wpconsent-flag.wpconsent-flag-ie {
	background-position: 0 -66px;
}

.wpconsent-flag.wpconsent-flag-gh {
	background-position: -208px -44px;
}

.wpconsent-flag.wpconsent-flag-cg {
	background-position: -80px -22px;
}

.wpconsent-flag.wpconsent-flag-cu {
	background-position: -224px -22px;
}

.wpconsent-flag.wpconsent-flag-hu {
	background-position: -224px -55px;
}

.wpconsent-flag.wpconsent-flag-sg {
	background-position: -224px -121px;
}

.wpconsent-flag.wpconsent-flag-at {
	background-position: -176px 0;
}

.wpconsent-flag.wpconsent-flag-lk {
	background-position: -224px -77px;
}

.wpconsent-flag.wpconsent-flag-vu {
	background-position: -144px -154px;
}

.wpconsent-flag.wpconsent-flag-bo {
	background-position: -160px -11px;
}

.wpconsent-flag.wpconsent-flag-jo {
	background-position: -208px -66px;
}

.wpconsent-flag.wpconsent-flag-er {
	background-position: -208px -33px;
}

.wpconsent-flag.wpconsent-flag-za {
	background-position: -256px -154px;
}

.wpconsent-flag.wpconsent-flag-rs {
	background-position: -80px -121px;
}

.wpconsent-flag.wpconsent-flag-nr {
	background-position: -16px -110px;
}

.wpconsent-flag.wpconsent-flag-ls {
	background-position: -256px -77px;
}

.wpconsent-flag.wpconsent-flag-jm {
	background-position: -192px -66px;
}

.wpconsent-flag.wpconsent-flag-tz {
	background-position: -208px -143px;
}

.wpconsent-flag.wpconsent-flag-ki {
	background-position: -16px -77px;
}

.wpconsent-flag.wpconsent-flag-sj {
	background-position: 0 -132px;
}

.wpconsent-flag.wpconsent-flag-cz {
	background-position: -16px -33px;
}

.wpconsent-flag.wpconsent-flag-pg {
	background-position: -128px -110px;
}

.wpconsent-flag.wpconsent-flag-lv {
	background-position: -32px -88px;
}

.wpconsent-flag.wpconsent-flag-do {
	background-position: -96px -33px;
}

.wpconsent-flag.wpconsent-flag-lu {
	background-position: -16px -88px;
}

.wpconsent-flag.wpconsent-flag-no {
	background-position: -256px -99px;
}

.wpconsent-flag.wpconsent-flag-kw {
	background-position: -112px -77px;
}

.wpconsent-flag.wpconsent-flag-mx {
	background-position: -96px -99px;
}

.wpconsent-flag.wpconsent-flag-yt {
	background-position: -240px -154px;
}

.wpconsent-flag.wpconsent-flag-ly {
	background-position: -48px -88px;
}

.wpconsent-flag.wpconsent-flag-cy {
	background-position: 0 -33px;
}

.wpconsent-flag.wpconsent-flag-ph {
	background-position: -144px -110px;
}

.wpconsent-flag.wpconsent-flag-my {
	background-position: -112px -99px;
}

.wpconsent-flag.wpconsent-flag-sm {
	background-position: -48px -132px;
}

.wpconsent-flag.wpconsent-flag-et {
	background-position: -240px -33px;
}

.wpconsent-flag.wpconsent-flag-ru {
	background-position: -96px -121px;
}

.wpconsent-flag.wpconsent-flag-tj {
	background-position: -48px -143px;
}

.wpconsent-flag.wpconsent-flag-ai {
	background-position: -64px 0;
}

.wpconsent-flag.wpconsent-flag-pl {
	background-position: -176px -110px;
}

.wpconsent-flag.wpconsent-flag-kp {
	background-position: -64px -77px;
}

.wpconsent-flag.wpconsent-flag-uy {
	background-position: -16px -154px;
}

.wpconsent-flag.wpconsent-flag-gb {
	background-position: -112px -44px;
}

.wpconsent-flag.wpconsent-flag-gs {
	background-position: -64px -55px;
}

.wpconsent-flag.wpconsent-flag-rw {
	background-position: -112px -121px;
}

.wpconsent-flag.wpconsent-flag-ec {
	background-position: -128px -33px;
}

.wpconsent-flag.wpconsent-flag-mm {
	background-position: -192px -88px;
}

.wpconsent-flag.wpconsent-flag-pa {
	background-position: -80px -110px;
}

.wpconsent-flag.wpconsent-flag-kg {
	background-position: -256px -66px;
}

.wpconsent-flag.wpconsent-flag-ve {
	background-position: -80px -154px;
}

.wpconsent-flag.wpconsent-flag-tk {
	background-position: -64px -143px;
}

.wpconsent-flag.wpconsent-flag-ca {
	background-position: -16px -22px;
}

.wpconsent-flag.wpconsent-flag-is {
	background-position: -128px -66px;
}

.wpconsent-flag.wpconsent-flag-ke {
	background-position: -240px -66px;
}

.wpconsent-flag.wpconsent-flag-ro {
	background-position: -64px -121px;
}

.wpconsent-flag.wpconsent-flag-gq {
	background-position: -32px -55px;
}

.wpconsent-flag.wpconsent-flag-pt {
	background-position: -256px -110px;
}

.wpconsent-flag.wpconsent-flag-tf {
	background-position: -256px -132px;
}

.wpconsent-flag.wpconsent-flag-ad {
	background-position: 0 0;
}

.wpconsent-flag.wpconsent-flag-sk {
	background-position: -16px -132px;
}

.wpconsent-flag.wpconsent-flag-pm {
	background-position: -192px -110px;
}

.wpconsent-flag.wpconsent-flag-om {
	background-position: -64px -110px;
}

.wpconsent-flag.wpconsent-flag-ws {
	background-position: -192px -154px;
}

.wpconsent-flag.wpconsent-flag-sh {
	background-position: -240px -121px;
}

.wpconsent-flag.wpconsent-flag-mp {
	background-position: -240px -88px;
}

.wpconsent-flag.wpconsent-flag-gt {
	background-position: -80px -55px;
}

.wpconsent-flag.wpconsent-flag-cf {
	background-position: -64px -22px;
}

.wpconsent-flag.wpconsent-flag-mw {
	background-position: -80px -99px;
}

.wpconsent-flag.wpconsent-flag-ug {
	background-position: -240px -143px;
}

.wpconsent-flag.wpconsent-flag-je {
	background-position: -176px -66px;
}

.wpconsent-flag.wpconsent-flag-km {
	background-position: -32px -77px;
}

.wpconsent-flag.wpconsent-flag-in {
	background-position: -64px -66px;
}

.wpconsent-flag.wpconsent-flag-bf {
	background-position: -48px -11px;
}

.wpconsent-flag.wpconsent-flag-mc {
	background-position: -80px -88px;
}

.wpconsent-flag.wpconsent-flag-sy {
	background-position: -192px -132px;
}

.wpconsent-flag.wpconsent-flag-sn {
	background-position: -64px -132px;
}

.wpconsent-flag.wpconsent-flag-kr {
	background-position: -80px -77px;
}

.wpconsent-flag.wpconsent-flag-eu {
	background-position: -256px -33px;
}

.wpconsent-flag.wpconsent-flag-bn {
	background-position: -144px -11px;
}

.wpconsent-flag.wpconsent-flag-st {
	background-position: -144px -132px;
}

.wpconsent-flag.wpconsent-flag-lc {
	background-position: -192px -77px;
}

.wpconsent-flag.wpconsent-flag-dm {
	background-position: -80px -33px;
}

.wpconsent-flag.wpconsent-flag-be {
	background-position: -32px -11px;
}

.wpconsent-flag.wpconsent-flag-ni {
	background-position: -224px -99px;
}

.wpconsent-flag.wpconsent-flag-ua {
	background-position: -224px -143px;
}

.wpconsent-flag.wpconsent-flag-mz {
	background-position: -128px -99px;
}

.wpconsent-flag.wpconsent-flag-pf {
	background-position: -112px -110px;
}

.wpconsent-flag.wpconsent-flag-tn {
	background-position: -112px -143px;
}

.wpconsent-flag.wpconsent-flag-ee {
	background-position: -144px -33px;
}

.wpconsent-flag.wpconsent-flag-xk {
	background-position: -208px -154px;
}

.wpconsent-flag.wpconsent-flag-sx {
	background-position: -176px -132px;
}

.wpconsent-flag.wpconsent-flag-sd {
	background-position: -192px -121px;
}

.wpconsent-flag.wpconsent-flag-gd {
	background-position: -128px -44px;
}

.wpconsent-flag.wpconsent-flag-ci {
	background-position: -112px -22px;
}

.wpconsent-flag.wpconsent-flag-sz {
	background-position: -208px -132px;
}

.wpconsent-flag.wpconsent-flag-cl {
	background-position: -144px -22px;
}

.wpconsent-flag.wpconsent-flag-fi {
	background-position: 0 -44px;
}

.wpconsent-flag.wpconsent-flag-ga {
	background-position: -96px -44px;
}

.wpconsent-flag.wpconsent-flag-jp {
	background-position: -224px -66px;
}

.wpconsent-flag.wpconsent-flag-de {
	background-position: -32px -33px;
}

.wpconsent-flag.wpconsent-flag-np {
	background-position: 0 -110px;
}

.wpconsent-flag.wpconsent-flag-re {
	background-position: -48px -121px;
}

.wpconsent-flag.wpconsent-flag-bg {
	background-position: -64px -11px;
}

.wpconsent-flag.wpconsent-flag-sc {
	background-position: -160px -121px;
}

.wpconsent-flag.wpconsent-flag-ng {
	background-position: -208px -99px;
}

.wpconsent-flag.wpconsent-flag-qa {
	background-position: -32px -121px;
}

.wpconsent-flag.wpconsent-flag-mk {
	background-position: -160px -88px;
}

.wpconsent-flag.wpconsent-flag-aw {
	background-position: -208px 0;
}

.wpconsent-flag.wpconsent-flag-kn {
	background-position: -48px -77px;
}

.wpconsent-flag.wpconsent-flag-al {
	background-position: -80px 0;
}

.wpconsent-flag.wpconsent-flag-bw {
	background-position: -240px -11px;
}

.wpconsent-flag.wpconsent-flag-um {
	background-position: -256px -143px;
}

.wpconsent-flag.wpconsent-flag-ky {
	background-position: -128px -77px;
}

.wpconsent-flag.wpconsent-flag-tt {
	background-position: -160px -143px;
}

.wpconsent-flag.wpconsent-flag-so {
	background-position: -80px -132px;
}

.wpconsent-flag.wpconsent-flag-lt {
	background-position: 0 -88px;
}

.wpconsent-flag.wpconsent-flag-by {
	background-position: -256px -11px;
}

.wpconsent-flag.wpconsent-flag-bb {
	background-position: 0 -11px;
}

.wpconsent-flag.wpconsent-flag-us {
	background-position: 0 -154px;
}

.wpconsent-flag.wpconsent-flag-md {
	background-position: -96px -88px;
}

.wpconsent-flag.wpconsent-flag-ag {
	background-position: -48px 0;
}

.wpconsent-flag.wpconsent-flag-hm {
	background-position: -160px -55px;
}

.wpconsent-flag.wpconsent-flag-as {
	background-position: -160px 0;
}

.wpconsent-flag.wpconsent-flag-eg {
	background-position: -160px -33px;
}

.wpconsent-flag.wpconsent-flag-sv {
	background-position: -160px -132px;
}

.wpconsent-flag.wpconsent-flag-sl {
	background-position: -32px -132px;
}

.wpconsent-flag.wpconsent-flag-fk {
	background-position: -32px -44px;
}

.wpconsent-flag.wpconsent-flag-am {
	background-position: -96px 0;
}

.wpconsent-flag.wpconsent-flag-ck {
	background-position: -128px -22px;
}

.wpconsent-flag.wpconsent-flag-tw {
	background-position: -192px -143px;
}

.wpconsent-flag.wpconsent-flag-kh {
	background-position: 0 -77px;
}

.wpconsent-flag.wpconsent-flag-to {
	background-position: -128px -143px;
}

.wpconsent-flag.wpconsent-flag-se {
	background-position: -208px -121px;
}

.wpconsent-flag.wpconsent-flag-cd {
	background-position: -48px -22px;
}

.wpconsent-flag.wpconsent-flag-pn {
	background-position: -208px -110px;
}

.wpconsent-flag.wpconsent-flag-gr {
	background-position: -48px -55px;
}

.wpconsent-flag.wpconsent-flag-id {
	background-position: -256px -55px;
}

.wpconsent-flag.wpconsent-flag-vc {
	background-position: -64px -154px;
}

.wpconsent-flag.wpconsent-flag-bi {
	background-position: -96px -11px;
}

.wpconsent-flag.wpconsent-flag-pk {
	background-position: -160px -110px;
}

.wpconsent-flag.wpconsent-flag-pr {
	background-position: -224px -110px;
}

.wpconsent-flag.wpconsent-flag-bd {
	background-position: -16px -11px;
}

.wpconsent-flag.wpconsent-flag-co {
	background-position: -192px -22px;
}

.wpconsent-flag.wpconsent-flag-fm {
	background-position: -48px -44px;
}

.wpconsent-flag.wpconsent-flag-bm {
	background-position: -128px -11px;
}

.wpconsent-flag.wpconsent-flag-ar {
	background-position: -144px 0;
}

.wpconsent-flag.wpconsent-flag-bv {
	background-position: -224px -11px;
}

.wpconsent-flag.wpconsent-flag-sb {
	background-position: -144px -121px;
}

.wpconsent-flag.wpconsent-flag-mq {
	background-position: -256px -88px;
}

.wpconsent-flag.wpconsent-flag-eh {
	background-position: -176px -33px;
}

.wpconsent-flag.wpconsent-flag-bh {
	background-position: -80px -11px;
}

.wpconsent-flag.wpconsent-flag-it {
	background-position: -144px -66px;
}

.wpconsent-flag.wpconsent-flag-hr {
	background-position: -192px -55px;
}

.wpconsent-flag.wpconsent-flag-sa {
	background-position: -128px -121px;
}

.wpconsent-flag.wpconsent-flag-mv {
	background-position: -64px -99px;
}

.wpconsent-flag.wpconsent-flag-mg {
	background-position: -128px -88px;
}

.wpconsent-flag.wpconsent-flag-dz {
	background-position: -112px -33px;
}

.wpconsent-flag.wpconsent-flag-gg {
	background-position: -192px -44px;
}

.wpconsent-flag.wpconsent-flag-gm {
	background-position: -256px -44px;
}

.wpconsent-flag.wpconsent-flag-af {
	background-position: -32px 0;
}

.wpconsent-flag.wpconsent-flag-li {
	background-position: -208px -77px;
}

.wpconsent-flag.wpconsent-flag-sr {
	background-position: -112px -132px;
}

.wpconsent-flag.wpconsent-flag-vg {
	background-position: -96px -154px;
}

.wpconsent-flag.wpconsent-flag-cr {
	background-position: -208px -22px;
}

.wpconsent-flag.wpconsent-flag-tc {
	background-position: -224px -132px;
}

.wpconsent-flag.wpconsent-flag-ao {
	background-position: -128px 0;
}

.wpconsent-flag.wpconsent-flag-ma {
	background-position: -64px -88px;
}

.wpconsent-flag.wpconsent-flag-mr {
	background-position: 0 -99px;
}

.wpconsent-flag.wpconsent-flag-gn {
	background-position: 0 -55px;
}

.wpconsent-flag.wpconsent-flag-ne {
	background-position: -176px -99px;
}

.wpconsent-flag.wpconsent-flag-nf {
	background-position: -192px -99px;
}

.wpconsent-flag.wpconsent-flag-wf {
	background-position: -176px -154px;
}

.wpconsent-flag.wpconsent-flag-hk {
	background-position: -144px -55px;
}

.wpconsent-flag.wpconsent-flag-gf {
	background-position: -160px -44px;
}

.wpconsent-flag.wpconsent-flag-ps {
	background-position: -240px -110px;
}

.wpconsent-flag.wpconsent-flag-ic {
	background-position: -240px -55px;
}

.wpconsent-flag.wpconsent-flag-cw {
	background-position: -256px -22px;
}

.wpconsent-flag.wpconsent-flag-ml {
	background-position: -176px -88px;
}

.wpconsent-flag.wpconsent-flag-ax {
	background-position: -224px 0;
}

.wpconsent-flag.wpconsent-flag-gl {
	background-position: -240px -44px;
}

.wpconsent-flag.wpconsent-flag-dj {
	background-position: -48px -33px;
}

.wpconsent-flag.wpconsent-flag-cn {
	background-position: -176px -22px;
}

.wpconsent-flag.wpconsent-flag-ht {
	background-position: -208px -55px;
}

.wpconsent-flag.wpconsent-flag-lr {
	background-position: -240px -77px;
}

.wpconsent-flag.wpconsent-flag-tg {
	background-position: 0 -143px;
}

.wpconsent-flag.wpconsent-flag-ba {
	background-position: -256px 0;
}

.wpconsent-flag.wpconsent-flag-ge {
	background-position: -144px -44px;
}

.wpconsent-flag.wpconsent-flag-bz {
	background-position: 0 -22px;
}

.wpconsent-flag.wpconsent-flag-au {
	background-position: -192px 0;
}

.wpconsent-flag.wpconsent-flag-iq {
	background-position: -96px -66px;
}

.wpconsent-flag.wpconsent-flag-cm {
	background-position: -160px -22px;
}

.wpconsent-flag.wpconsent-flag-gw {
	background-position: -112px -55px;
}

.wpconsent-flag.wpconsent-flag-az {
	background-position: -240px 0;
}

.wpconsent-flag.wpconsent-flag-na {
	background-position: -144px -99px;
}

.wpconsent-flag.wpconsent-flag-fj {
	background-position: -16px -44px;
}

.wpconsent-flag.wpconsent-flag-zw {
	background-position: -32px -165px;
}

.wpconsent-flag.wpconsent-flag-bs {
	background-position: -192px -11px;
}

.wpconsent-flag.wpconsent-flag-il {
	background-position: -16px -66px;
}

.wpconsent-flag.wpconsent-flag-nz {
	background-position: -48px -110px;
}

.wpconsent-flag.wpconsent-flag-me {
	background-position: -112px -88px;
}

.wpconsent-flag.wpconsent-flag-si {
	background-position: -256px -121px;
}

.wpconsent-flag.wpconsent-flag-nc {
	background-position: -160px -99px;
}

.wpconsent-flag.wpconsent-flag-lb {
	background-position: -176px -77px;
}