.wpconsent-translation-warning {
	text-align: left;
}

.wpconsent-notice-warning {
	display: inline-block;
	padding: 10px;
	border-radius: 5px;
	margin: 10px 0 0;
	background-color: var(--wpconsent-background-highlight);
}