.pre-error,
.info-area {
	border: 1px solid #ddd;
	box-shadow: none;
	display: block;
	font-family: Menlo, Monaco, monospace;
	font-size: 12px;
	height: 450px;
	max-width: 1000px;
	overflow: auto;
	padding: 20px;
	white-space: pre;
	width: 100%;
	margin-bottom: 18px;
}

textarea.info-area[readonly] {
	background: #fff;
}

.wpconsent-admin-page {
	.wpconsent-alert {
		border: 1px solid transparent;
		margin-bottom: 18px;
		padding: 16px;

		h4 {
			color: inherit;
			margin-top: 0;
		}

		p {
			margin: 0 0 15px 0;

			&:last-of-type {
				margin: 0;
			}
		}

		&.wpconsent-alert-nomargin {
			margin: 0;
		}

		&.wpconsent-alert-small {
			font-size: 12px;
		}

		&.wpconsent-alert-success {
			background-color: #dff0d8;
			border-color: #d6e9c6;
			color: #3c763d;
		}

		&.wpconsent-alert-info {
			background-color: #d9edf7;
			border-color: #bce8f1;
			color: #31708f;
		}

		&.wpconsent-alert-warning {
			background-color: #fcf8e3;
			border-color: #faebcc;
			color: #8a6d3b;
		}

		&.wpconsent-alert-danger {
			background-color: #f2dede;
			border-color: #ebccd1;
			color: #a94442;
		}
	}
}

.wpconsent-dnt-clear-logs-container {
	position: relative;
}
